accelerate
bitsandbytes
codecarbon
datasets
ipywidgets
jupyter
streamlit
transformers
optimum
wandb
vllm
peft
trl
evaluate
#torch
#plotly
#unsloth[cu121-ampere-torch230] @ git+https://github.com/unslothai/unsloth.git